.wrapper {
  background: transparent;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 2rem 4rem;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.card {
  border-radius: 2px;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}
